@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-image: url("images/background.jpg");
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navbar-container {
    width: 100%;
    height: 4rem;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.254);
    position: relative;
}

.navbar-subContainer {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.navbar-subContainer a {
    text-decoration: none;
    color: #ffff;
}

.form-container{
    position: relative;
    display: flex;
    width: 100vw;
    height:90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-input{
    width: 20rem;
    height: 45px;
    border-radius: 5px;
    color: #000000;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 15%;
}

.plus-btn{
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0px 0px;
    background-color: #000000;
    color: #ffff;
    cursor: pointer;
}

form .listItem{
 list-style: none;
 background-color: rgba(239, 243, 243, 0.42);
 width: 20rem;
 height: 45px;
 padding: 15px 10px;
 font-size: 1.5rem;
}

form .listItem input{
    width: 20px;
    height: 20px;
    font-weight: 100;

}