<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <div>
            <h1>
            </h1>
        </div>
        <form action="" method="post">
            <ul>
                <% if(locals.taskToAdd){ %>

                <li>
                    <input type="checkbox" name="" id="">
                    <%= taskToAdd%>
                </li>

                <% } %>
            </ul>
            <input type="text" name="task" id="">
            <button type="submit">Add Task</button>
        </form>
        <%- include("partials/footer.ejs") %>
</body>

</html>